[submodule "libraries/minhook"]
	path = libraries/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "libraries/gd.h"]
	path = libraries/gd.h
	url = git@github.com:matcool/gd.h.git
[submodule "libraries/nfd"]
	path = libraries/nfd
	url = https://github.com/mlabbe/nativefiledialog
	branch = devel
[submodule "libraries/cocos-headers"]
	path = libraries/cocos-headers
	url = https://github.com/HJfod/cocos-headers.git
[submodule "libraries/mat-dash"]
	path = libraries/mat-dash
	url = git@github.com:matcool/mat-dash.git
