[submodule "libraries/cappuccino-sdk"]
	path = libraries/cappuccino-sdk
	url = https://github.com/AndreNIH/CappuccinoSDK.git
[submodule "libraries/minhook"]
	path = libraries/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "libraries/gd.h"]
	path = libraries/gd.h
	url = git@github.com:matcool/gd.h.git
[submodule "libraries/nfd"]
	path = libraries/nfd
	url = https://github.com/mlabbe/nativefiledialog
